.container {
  display: flex; 
  height: 100vh; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  overflow: hidden; 
}

.navbar {
  width: 200px; 
  background-color: #f0f0f0; 
  padding: 20px; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
  height: 100%; 
}

.main-content {
  flex: 1; 
  padding: 20px; 
  background-color: #fff; 
  overflow-y: auto;
  height: 100%; 
}

.button-group {
  margin-bottom: 20px; 
  display: flex; 
  gap: 10px; 
}


.btn {
  padding: 10px 15px; 
  border: none; 
  border-radius: 5px; 
  background-color: #007bff; 
  color: white;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.btn:hover {
  background-color: #0056b3; 
}

.train-list {
  display: flex; 
  flex-direction: column; 
  gap: 10px; 
  margin-top: 20px; 
}

.train-item {
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
